<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i> <%= @group.group %>
</p>

<a class="btn btn-primary"<%= link_to 'Edit', edit_group_path(@group) %>&nbsp;&nbsp;||&nbsp;&nbsp;

<a class="btn btn-primary"<%= link_to 'Back', groups_path %><span class="glyphicon glyphicon-chevron-left"></span><br/><br/><hr/>
